body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.someClass {
  background-color: black !important;
}

.Fila {

  background-color: rgba(211, 130, 25, 0.75);


}

.Mina {

  background-color: rgba(211, 130, 25, 0.5);


}

.Maxa {

  background-color: rgba(211, 130, 25, 1);


}

.Tempa {

  background-color: rgba(211, 130, 25, 0.25);

}

.Humud {

  background-color: rgba(19, 73, 93, 0.8);

}

.Press {
  background-color: rgb(19, 73, 93, 0.6);


}

.Speed {
  background-color: rgb(19, 73, 93, 0.4);


}

.DESC {
  background-color: rgba(98, 72, 201, 0.285);
  width: 330px;

}

.DTX {

  background-color: rgba(230, 220, 92, 0.7);
  width: 238px;

}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.App {
  background-color: #112123;
  padding-bottom: 20%;
}

.ant-col {

  color: rgba(218, 165, 32, 0.864);
}